<p style="color: green"><%= notice %></p>
First Name :<%= @user.first_name %><br/>
Email: <%= @user.email %> <br/>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
