<p style="color: green"><%= notice %></p>
First Name :<%= @user.first_name %><br/>
Email: <%= @user.email %> <br/>
<% if !@user.avatar.file.nil?%>
  Image: <br><%= image_tag(@user.avatar.url(:thumb))%><br>
  Avatar Url: <%= @user.avatar.url %> <br/>
  Avatar current_path: <%= @user.avatar.current_path %> <br/>
  Avatar identifier: <%= @user.avatar_identifier %> <br/>
  
<% end %>
<% if @user.avatars_identifiers%>
  Avatars<br>
  <% @user.avatars.each do |img|%>
  <%= image_tag(img.url(:thumb))%>
  <% end %>
<% end %>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
