<head>
  <style>
    body{
      text-align:center;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding:10px;
      text-align:center;
    }
  </style>
</head>
<body>
<center>
   <div class="col-4">
    <%= form_tag products_path, :method => 'get'  do %>
      <%= text_field_tag :query, params[:query], placeholder: 'Search email is present or not' %>
        <span>
          <%= submit_tag "search"%>
        </span>
    <% end %>
  </div>
  <h1>product Table </h1>
  <table>
    <tr>
      <td>product Name</td><td>isbn</td>
  <% @products.each do |product| %>
    <tr>
      <td><%=product.name %></td>
      <td><%=product.details %></td>
    </tr>
  <% end %>
  </table>

</center>

</body>