  <div class="col-4">
    <%= form_tag products_path, :method => 'get' ,local:true do %>
      <%= text_field_tag :query, params[:query], placeholder: 'Search email is present or not' %>
        <span>
          <%= submit_tag "search"%>
        </span>
    <% end %>
  </div>
  <h1>product Table </h1>
  <table>
    <tr>
      <td>product Name</td><td>isbn</td>
  <% @products.each do |product| %>
    <tr>
      <td><%=product.name %></td>
      <td><%=product.details %></td>
    </tr>
  <% end %>
  </table>
